@font-face {
    font-family: Redshine;
    src: url(Redshine.ttf) format(truetype);
}


body{
    background-color: #AFC8EA;
    color: #4D5766;
    font-family:  'Open Sans', sans-serif;
}

h1{
    color: #2E4566;
    font-family:'Redshine', sans-serif;
}

h2{
    color: #5079B3;
    font-family:'Redshine', sans-serif;
}

a:hover{
    color: #7EB7E0;
}

a:visited{

    color: #535694;
}